# gitignore for NDS develop

# visual studio
.vs/*

# objects
build/
Backup*/

# nds excutables
*.elf
*.nds
*.gba
*.arm7
*.arm9
!Makefile.arm7
!Makefile.arm9

# linked directory
_*/

# etc
*.db
*.sqlite

#vs
Debug/
Release/
x64/
ARM64/
*.ipch
*.obj

#ida
*.idb
*.id0
*.id1
*.nam
*.til
